<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>AgeResNet Report</title>
    <style type="text/css">
      body {
        background-color: #d4d4d4;
      }

      * {
        color: white;
      }

      article {
        background-color: #2f2f2f;
        color: white;
        max-width: 50em;
        margin: 2em auto;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 0 0 1em #0006;
      }



      h1 {
        font-size: 1.8em;
        margin-bottom: 0;
        text-decoration: underline;
        font-weight: 500;
      }

      h2 {
        font-size: 1.2em;
        margin: 0.1em 0.5em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.81);
      }

      h3 {
        margin: 0.1em 1em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.71);
      }

      p {
        margin-left: 1.5em;
        margin-right: 1em;
      }

    </style>
  </head>
  <body>
    <article>
      <h1>Information</h1>
      <table style="width:100%">
        <tr>
          <td>Arguments</td>
          <td>{{ args }}</td> 
        </tr>
        <tr>
          <td>Git-Hash</td>
          <td>{{ githash }}</td> 
        </tr>
        <tr>
          <td>Start</td>
          <td>{{ start_time }}</td> 
        </tr>
        <tr>
          <td>Updated</td>
          <td>{{ update_time }}</td> 
        </tr>
        <tr>
          <td>Next</td>
          <td>{{ next_time }}</td> 
        </tr>
        <tr>
          <td>Epoch-Time Estimate</td>
          <td>{{ epoch_time }}</td>
        </tr>
      </table>
    </article>
      {% for rep in report %}
        {{ rep }}
      {% endfor %}
  </body>
</html>