<article>
  <h1>Information</h1>

  <table style="width:100%">
    <tr>
      <td>Batch-Size</td>
      <td>{{ batch_size }}</td>
    </tr>
    <tr>
      <td>Dataset-Size</td>
      <td>{{ dataset_size }}</td>
    </tr>
    <tr>
      <td>Loss-Function</td>
      <td>{{ loss_function }}</td>
    </tr>
    <tr>
      <td>Optimizer</td>
      <td>{{ optimizer }}</td>
    </tr>
    <tr>
      <td>Learning Rate</td>
      <td>{{ learning_rate }}</td>
    </tr>
  </table>
</article>
<article>
  <h1>Diagrams</h1>

  <h2>Loss</h2>
  <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_losses }}"/></p>
  <h2>Accuracy Age</h2>
  <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_accuracy_age }}"/></p>
  <h2>Accuracy Gender</h2>
  <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_accuracy_gender }}"/></p>
</article>
<article>
    <h1>Testset results</h1>

    {% for img, label in testset_images %}
    <h2>{{ label }}</h2>
    <div style="display: flex; background-color: white; padding: 1em; margin: 1em">

    <img style="flex: 30%; object-fit: contain;" src="data:image/png;base64,{{ img }}"/>
    <img style="flex: 70%; object-fit: contain;" src="data:image/svg+xml;base64,{{ b64svg_testset_prediction[loop.index0] }}"/> -->
    </div>
{% endfor %}
</article>

