<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>AgeResNet Report</title>
    <style type="text/css">
      body {
        background-color: #d4d4d4;
      }

      article {
        background-color: #2f2f2f;
        color: white;
        max-width: 50em;
        margin: 2em auto;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 0 0 1em #0006;
      }

      h1 {
        font-size: 1.8em;
        margin-bottom: 0;
        text-decoration: underline;
        font-weight: 500;
      }

      h2 {
        font-size: 1.2em;
        margin: 0.1em 0.5em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.81);
      }

      h3 {
        margin: 0.1em 1em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.71);
      }

      p {
        margin-left: 1.5em;
        margin-right: 1em;
      }

      td {
        color: white;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Meta</h1>

      <h2>Arguments</h2>
      <p>{{ args }}</p>

      <h2>Time</h2>
      <p>
        <table style="width:100%">
          <tr>
            <td>Updated</td>
            <td>{{ ts_now }}</td>
          </tr>
          <tr>
            <td>Expected next</td>
            <td>{{ ts_next }}</td>
          </tr>
        </table>
      </p>
    </article>

    <article>
      <h1>Diagrams</h1>

      <h2>Loss</h2>
      <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_losses }}"/></p>

      <h2>AVG Score</h2>
      <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_scores }}"/></p>

      <h2>GPU RAM usage</h2>
      <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_gpuram }}"/></p>

      <h2>Learning rate</h2>
      <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_lr }}"/></p>

      <h2>Time</h2>
      <p><img style="width: 100%" src="data:image/svg+xml;base64,{{ b64svg_time }}"/></p>
    </article>

    <article>
      <h1>Testset results</h1>

      {% for img, label in testset_images %}
      <div style="display: flex; background-color: white; padding: 1em; margin: 1em">
        <img style="flex: 30%; object-fit: contain;" src="data:image/png;base64,{{ img }}"/>
        <img style="flex: 70%; object-fit: contain;" src="data:image/svg+xml;base64,{{ label }}"/>
      </div>
      {% endfor %}
    </article>
  </body>
</html>
